<html>
<head>
  <title>Sickounter download statistics</title>
  <style>
    body { background-color: white; color: black; font: 8pt Verdana }
    th { background-color: #789 }
    tr th { font-weight: bold; text-align: left; color: white }
    td, th { padding: 10px }
    td { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc }
    div#main { margin: 0 auto; text-align: center; width: 800px }
    table { border-left: 1px solid #ccc; border-bottom: 2px solid #ccc; border-spacing:0; }
    table.wide { width: 100% }
    th.dl { width: 50px }
    h1 { text-align: center; margin-bottom: 60px }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>
