<h1>Sickounter download statistics</h1>

<div id="main">
<table class="wide">
  <tr>
    <th>File</th>
    <th class="dl">Downloads</th>
  </tr>
  <% @downloads.keys.sort_by { |counter| -@downloads[counter] }.each do |counter| %>
  <tr>
    <td><%= counter %></td>
    <td><%= @downloads[counter] %></td>
  </tr>
  <% end %>
</table>
</div>
